<div class="hero-unit">
	<h1><%= @user.name %></h1>
	<% if @user.collections.any? %>
		<h4>Your albums are listed below:</h4>
		<ul>
			<% @user.collections.each do |collection| %>
				<li style="list-style-type: none;"><%= link_to collection.name.upcase, collection_path(collection.id), class: "btn btn-link" %></li>
			<% end %>
		</ul>
	<% end %>

	<%= link_to 'Edit Albums', edit_user_path(@user), class: "btn btn-primary btn-large" %>
</div>
